# Ignore Python caches
quiz-app/__pycache__/
quiz-app/venv/
quiz-app/.env

# Ignore Node.js dependencies
Quiz_node/node_modules/
Quiz_frontend/node_modules/

# Ignore VS Code settings (optional)
.vscode/
