# Ignore Python caches
Quiz_app/__pycache__/
Quiz_app/venv/
Quiz_app/.env

# Ignore Node.js dependencies
Quiz_node/node_modules/
Quiz_frontend/node_modules/

# Ignore VS Code settings (optional)
.vscode/
